* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: #fff;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #f0f0f0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 4.5rem;
  background: linear-gradient(to right, #9C27B0, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
}

.menu-toggle {
  display: none; /* Normalda gizlənir */
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  display: block;
  border-radius: 2px;
}

/* 700px-dən aşağı ekranlarda göstər */
@media (max-width: 700px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 60px; /* navbar hündürlüyünə uyğun ayarla */
    right: 10px;
    border-radius: 8px;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }

  .navbar {
    justify-content: space-between;
  }

  .logo {
    flex: 1;
  }
}
